.content {
    max-width: 38em;
    margin: auto;
}

.btn {
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
    text-align: center;
    font-size: 1em;
    padding: 10px;
}

.btn.selected {
    background-color: black;
    color: wheat;
}

.btn:active {
    transform: translateY(3px) scale(1.1, 1);
    
}

.btn:hover {
    background-color: #ddd;
}

.material__pool {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px; */
}

.material__selected {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    min-height: 29px;
}

.material__pool-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px;
}

.material__item {
    margin: auto;
}

.material__knowledge {
    font-size: 1.5em;
}

.material__knowledge.excellent {
    color: green
}

.material__knowledge.good {
    color: yellowgreen
}

.material__knowledge.medium {
    color: yellowgreen
}

.material__knowledge.bad {
    color: red
}

.material__knowledge.unknown {
    color: gray
}

.plate__right {
    text-align: right;
}

.plate {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.spacer {
    margin-bottom: 5px;
    margin-top: 5px;
}

.plate__title {
    font-size: 1.5em;
    line-height: 1.1;
    font-family: Verdana, Geneva, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.order {
}

.order__title {
}

.order-target {

}

.creation {

}

.creation__title {

}

html {
    font-size: 62.5%;
    font-family: serif;
}

body {
    font-size: 1.8rem;
    line-height: 1.618;
    color: #4a4a4a;
    background-color: #f9f9f9;
    padding: 13px;
    margin: 0
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 700;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

h1 {
    font-size: 2.35em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}